<template>
  <div class="home">
     
      <section id="hero">
        <v-row no-gutters>
          <v-img
            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
            src="./../assets/marcelo-leal-6pcGTJDuf6M-unsplash.jpg"
          >
            <v-theme-provider dark>
              <v-container fill-height>
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="white--text text-center"
                    cols="12"
                    tag="h1"
                  >
                    <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                      class="font-weight-light"
                    >
                     DIGITAL SOLUTIONS TRANSFORMING CONNECTED HEALTH
                    </span>

                    <br>

                    <span
                      :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-1']"
                      class="font-weight-black"
                    >
                      A cloud-based platform that improves patient health and wellness through connected care.
                    </span>
                    <br>
                    <hr>
                    
                     <span>
                       <p>Lower costs, improve outcomes and promote self-care through
                            proactive remote patient monitoring and user engagement.</p>
                     </span>
                     <br>
                     <br>
                     <hr>
                     <br>
                      <v-btn dark="" color="black">Contact Us</v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </section>
     <!-- </v-content> -->
    <br>
    <br>
    <section id="hero" style="background-color:black">
        <v-row no-gutters>
          <v-img
            max-height="400"
          >
            <v-theme-provider dark>
              <v-container fill-height>
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="white--text text-center"
                    cols="12"
                    tag="h1"
                  >
                  <div>
                    <h1>DIGITAL CARE PLATFORMS ACROSS THE CARE CONTINUUM</h1>
                  </div>
                  <div>
                    <p>Advanced biometric wearables, real-time data collection, and advanced analytics provide actionable data to patients and care teams.</p>
                  </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </section>
    <v-footer
    dark
    padless
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="teal">
        <strong class="subheading">Get connected with us on social networks!</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4"
          dark
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="py-2 white--text text-center">
        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
      </v-card-text>
    </v-card>
  </v-footer>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: "Home",
  components: {
    
  },
  data(){
    return {
      colors: [
          'indigo',
          'warning',
          'pink darken-2',
          'red lighten-1',
          'deep-purple accent-4',
        ],
        slides: [
          'First',
          'Second',
          'Third',
          'Fourth',
          'Fifth',
        ],
        icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-linkedin',
        'mdi-instagram',
      ]
    }
  }
};
</script>
