<template>
  <v-app>
    <v-app-bar
      app
      color="white"
    >
          <v-avatar
        class="mr-3"
        
        size="200"
      >
        <v-img
          contain
          max-height="70%"
          src="./assets/logo2.png"
        ></v-img>
      </v-avatar>
      <v-spacer></v-spacer>
     <!-- <v-img src="./../assets/115803428_592284961455971_5255419545012749741_n.png" aspect-ratio="2"></v-img> -->
        <v-btn class="hidden-sm-and-down" text>Home</v-btn>
        <v-btn class="hidden-sm-and-down" text>COVID-19</v-btn>
        <v-btn class="hidden-sm-and-down" text>PLATFORM</v-btn>
        <v-btn class="hidden-sm-and-down" text>PRODUCTS</v-btn>
        <v-btn class="hidden-sm-and-down" text>ABOUT</v-btn>
        <v-btn class="hidden-sm-and-down" text>NEWS</v-btn>
        <v-btn class="hidden-sm-and-down" text>RESOURCES</v-btn>
        <v-btn class="hidden-sm-and-down" text>CONTACT US</v-btn>

      
    </v-app-bar>
    

    <v-main>
     <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>


export default {
  name: "App",

  components: {
    
  },

  data: () => ({
    //
  })
};
</script>
